<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Bootstrap 4 Default CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- Additional CSS -->
  <link rel="stylesheet" href="https://www.jqueryscript.net/demo/bootstrap-carousel-templates/logo-carousel/css/main.css">

  <!-- Animate CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Urbanist">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
        <title>Register</title>
      </head>
      
<body class="w3-light-grey">
  <%- include('../partials/nav') %>
  <%- include('../partials/header') %>

  <main>
     <!--ERROR-->
  <section>
    <% if (errors && errors.length > 0){ %>
      <% for (let i = 0; i < errors.length; i++){ %>
        <p><%= errors[i] %> </p>
      <% } %>
    <% } %>
    <form method="POST" action="/users/new" novalidate>

      <div>
        <label for="fname">First name</label>
        <input id="fname" type="text" name="firstname" required>
      </div>

      <div>
        <label for="lname">Last name</label> 
        <input id="lname" type="text" name="lastname" required>
      </div>

      <div>
        <label for="email">Email</label>
        <input id="email" type="text" name="email" required>
      </div>

      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>
      </div>
      
      <div>
        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" type="password" name="confirmPassword" required>
      </div>

      <button type ="submit">Sign Up</button>
     
      <p>Already have an account? <a href ="/login">Log In</a></p>

    </form>
  </section>  
  </main>
  <%- include('../partials/footer') %>
  


  <!-- Bootstrap JQuery Plugin -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <!-- Additional Javascript -->
  <script src="/js/searchMovies.js"></script>
</body>
</html>
